@font-face{
    font-family: poppins;
    src: url(../fonts/poppins/Poppins-Regular.ttf);

    font-family: poppinsBold;
    src: url(../fonts/poppins/Poppins-Bold.ttf);
}

@font-face{
    font-family: amatic;
    src: url(../fonts/Amatic/AmaticSC-Regular.ttf);
}