* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import '../css/base';
@import '../css/fonts';
@import '../css/components';
@import '../css/header';
@import '../css/courses';
@import '../css/search';
@import '../css/theme';
@import '../css/sidebar';
@import '../css/form';
@import '../css/details';
@import '../css/tablet';
@import '../css/desktop';
@import '../css/gallery';
@import '../css/mycourses';